@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: none !important;
}
td,
th {
  padding: 6px;
}
td, th, tr {border: none !important;}
tr:hover {
  background-color: #f1f1f1;
}

tr {
  border-bottom: 1px solid #c7c7c7 !important;
  font-weight: 500;
  cursor: pointer;
}
.depth-hide {
  display: none;
}
.depth-show {
  display: table-row !important;
}
tfoot th {
  color: #00a7e0 !important;
}
tr.depth-show.active {
  background-color: #111111;
  color: #fff;
}
tr.active {
  background-color: #333333;
  color: #fff;
}
tr.active td.pair {
  padding-left: 20px;
}
tr.depth-show.active td.pair {
  padding-left: 10px;
}
.ex-arrow {
  border: solid #111111;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.ex-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.ex-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.ex-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border-color: #00a7e0;
}

.ex-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-color: #ff0000;
}

tr.active .ex-right {
  border-color: #fff;
}

.exclusive-tabs {
  padding: 0;
 }

 .exclusive-tabs ul.nav {
  border-top: #111111 solid 1px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 10px;
}
.exclusive-tabs ul.nav li {
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
  display: inline-block;
  width: 20%;
  list-style: none;
  padding: 0;
  text-align: left;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .exclusive-tabs ul.nav li {
    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
    width: 100%;
  }
}

.exclusive-tabs ul.nav li:hover {
  opacity: 1;
}
.exclusive-tabs ul.nav li.active {
  opacity: 1;
}
.exclusive-tabs ul.nav li .ex-arrow {
  margin-right: 10px;
}
.exclusive-tabs ul.nav li .ex-down {
  border-color: #111111;
}
.exclusive-outlet {
  overflow-x: auto;
}